{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
  <section class="card card-body">

    <h1 class="display-1 text-center">Django Apps</h1>
    <p>Django es un framework de desarrollo web de alto nivel y de código abierto escrito en Python. 
      Fue creado para facilitar el proceso de construcción de aplicaciones web, ofreciendo un conjunto 
      de herramientas y librerías que permiten desarrollar aplicaciones de manera más rápida y eficiente. 
      Django utiliza el patrón de diseño MVC (Modelo-Vista-Controlador) para organizar la estructura de 
      una aplicación, lo que permite separar las distintas capas de la misma y así facilitar su mantenimiento y escalabilidad. <br><br>
      Django cuenta con una gran cantidad de características útiles, como la gestión de bases de datos, 
      la autenticación de usuarios, la gestión de formularios, la generación de URLs, entre otras. Además, 
      es altamente personalizable y extensible, permitiendo a los desarrolladores crear aplicaciones web complejas y escalables. <br><br>
      Django es utilizado por una gran cantidad de empresas y organizaciones, incluyendo Instagram, Mozilla, Pinterest, y la NASA, 
      entre otros. Su popularidad se debe en gran medida a su facilidad de uso, flexibilidad y su comunidad activa y comprometida 
      con su desarrollo y evolución.</p>

    <div class="text-center">  
      <a class="btn btn-secondary" href="/signin/">
        Signin
      </a>

      <a class="btn btn-primary" href="/signup/">
        Signup
      </a>

    </div>

    

      
  
  </section>
</main>

{% endblock %}

